<!DOCTYPE html>
<html>
<head>
    <title>Error | Stevo Stračkovski</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/fonts/font-awesome-4.2.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/build/reset.min.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/build/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/build/slider.min.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/styles/jquery.jscrollpane.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/build/modal.min.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/build/errors.min.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/build/main.min.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ app.request.getBasePath() }}/web/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ app.request.getBasePath() }}/web/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ app.request.getBasePath() }}/web/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ app.request.getBasePath() }}/web/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ app.request.getBasePath() }}/web/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ app.request.getBasePath() }}/web/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ app.request.getBasePath() }}/web/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ app.request.getBasePath() }}/web/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ app.request.getBasePath() }}/web/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ app.request.getBasePath() }}/web/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ app.request.getBasePath() }}/web" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ app.request.getBasePath() }}/web/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ app.request.getBasePath() }}/web/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ app.request.getBasePath() }}/web/icons/manifest.json">
    <link rel="shortcut icon" href="{{ app.request.getBasePath() }}/web/icons/favicon.ico?v=3">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ app.request.getBasePath() }}/web/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="{{ app.request.getBasePath() }}/web/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body data-locale="{{ app.request.locale }}">
    <div class="error-panel">
    {% block content %}
        {% block header %}
            <div class="header">
                <a class="nav-link nav-home" href="{{ app.request.baseUrl() ~ '/' ~ app.request.locale }}">
                    <img src="{{ app.request.getBasePath() }}/web/assets/images/ss-logo-stamp.png" alt="S"/>
                </a>
            </div>
            <div class="title">
                <img src="{{ app.request.getBasePath() }}/web/assets/images/error.png" alt="ERROR"/>
            </div>
        {% endblock %}
    {% endblock %}
    </div>

    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/build/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/build/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/build/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/build/jquery.contentcarousel.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/build/jquery.mobile.custom.js"></script>
    <script type="text/javascript" src="http://browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/build/bootstrap.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/build/main.js"></script>
</body>
</html>