<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | Stevo Strackovski</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.author }}">

    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/fonts/font-awesome-4.2.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/styles/reset.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/styles/bootstrap.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/styles/slider.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/styles/jquery.jscrollpane.css"/>
    <link rel="stylesheet" href="{{ app.request.getBasePath() }}/web/assets/styles/main.css"/>
</head>

<body data-path="{{ page.slug }}" data-locale="{{ app.request.locale }}">
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/scripts/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/scripts/jquery.contentcarousel.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="http://browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/scripts/main.js"></script>
    <script type="text/javascript" src="{{ app.request.getBasePath() }}/web/assets/scripts/jquery.mobile.custom.js"></script>
</body>
</html>